.checkout {
    padding: 100px 0;
}

.checkout-form {
    max-width: 50%;
    padding: 50px 100px;
    margin: 50px auto 100px auto;
    border: 1px solid #0000001f;
}

.chekout-title {
    font-size: 28px;
    text-align: center;
}

.checkout-form {
    max-width: 500px;
}

.checkout-input {
    font-size: 15px;
    margin-bottom: 25px;
    padding: 5px;
    min-width: 100%;
}

.checkout-btn {
    padding: 5px 10px;
    font-size: 18px;
}
